<div id="container">

    <div id="char_div">
        <div id="img_div">
            <img src="{{ quiz.image }}" width="200" height="200">
        </div>

        <div *ngIf="quiz.nameIsCorrect==true" id="descr_div">
            <h2>YOU ARE CORRECT!</h2>
            <h2>Some info about this character:</h2>
            <p>{{ quiz.charDescription }}</p>
        </div>
        <div *ngIf="quiz.nameIsincorrect==true">
            <h2>NOPE! WRONG GUESS!!</h2>
            <h2>Check the hints or move on to the next person</h2>
        </div>
        <div *ngIf="!hasMorePeople()">
            <h2p>no more people</h2p>
            <button class="btn" (click)="nextPerson()">restart the game</button>
        </div>
    </div>

    <div id="hints_div">
        <div *ngFor="let visibleHint of quiz.visibleHints">
            <p>{{ visibleHint }}</p>
        </div>

        <div *ngIf="!hasMoreHints()">
            <h2>no more hints about this character!</h2>
        </div>

        <div id="hint_button">
            <button [disabled]="!hasMoreHints() || quiz.nameIsCorrect==true" class="btn" (click)="nextHint()">give me a hint</button>
        </div>
    </div>

    <div id="score_div">
        <h2>YOUR SCORE:</h2>
        <h1>{{ quiz.score }}</h1>
    </div>

    <div id="guess_div">
        <h2 [hidden]="quiz.nameIsCorrect==true">Who is it?</h2>
        <input type="text" [disabled]="quiz.nameIsCorrect==true" (keydown.enter)="checkName()" [(ngModel)]="quiz.guessedName"><button [disabled]="quiz.nameIsCorrect==true || !quiz.guessedName" class="btn" (click)="checkName()">guess</button>
        <button [disabled]="!hasMorePeople()" class="btn" (click)="nextPerson()">show next person</button>
    </div>

</div>